@font-face {
    font-family: "Instrument Serif";
    src: url(InstrumentSerif-Italic.ttf);
}
@font-face {
    font-family: "Source Serif";
    src: url(SourceSerif4-VariableFont_opsz\,wght.ttf);
}

body{
    font-size: 14px;
    background-image: url(background.jpg);
    font-family: "Source Serif";
    background-color: antiquewhite;
    
}
.main{
    background-color: white;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -16px;
    box-shadow: 4px 4px 8px black,
                -4px 4px 8px black;
}
header{
    background: linear-gradient(rgb(90, 90, 90),rgb(50, 50, 50),rgb(77, 77, 77));
    color: lightgray;
    text-shadow: 4px;
    text-align: center;
}
header h1{
    font-family: "Instrument Serif";
    font-optical-sizing: 120px;
    font-size: 64px;
    letter-spacing: 1px;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 0;
}
header h5{
    font-weight: normal;
    font-size: 14px;
    margin-top: 0;
}
footer{
    background: linear-gradient(rgb(90, 90, 90),rgb(50, 50, 50),rgb(77, 77, 77));
    padding: 6px;
    color: lightgray;
    text-align: center;
}
footer a {
    color: lightcyan;
    text-decoration: none;
}

.post_publisher{
    background-color: blanchedalmond;
    margin: 4px;
    border-radius: 4px;
    padding: 4px;
    margin-top: -16px;
    
}
.post_publisher input{
    font-size: 18px;    
    width: 26.2%;
    font-family: "Source Serif";
    font-style: italic;
    font-weight: 400;
}
.post_publisher .long{
    width: 81.5%;
}
.post_publisher button{
    background: linear-gradient(red,darkred,coral);
    border: 0;
    font-size: 16px;
    color: gold;
    border-radius: 4px;
    padding: 6px;
    font-family: "Source Serif";
    font-weight: 500;
    font-style: italic;
    padding-left: 12px;
    padding-right: 12px;
    
}
.post_publisher button:hover {
    color: rgb(255, 228, 72);
    background: linear-gradient(darkred,darkred,coral);;
}
.post_publisher button:active{
    box-shadow: inset -2px -2px 3px rgb(255 255 255 / 0.6),
    inset 2px 2px 3px rgb(0 0 0 / 0.6);
}
.post{
    background: linear-gradient(lightgray,rgb(238, 238, 238));
    padding: 4px;
    display: flex;
}
.post .poster{
    width: 96px;
    padding: 4px;
    background-color: black;
}
.post .post_text{
    padding-left: 16px;
    display: list-item;
    font-size: 14px;
}
.post p{
    font-size: 16px;
}
.post .author_date{
    color: red;
    font-style: italic;
}
.post .post_text img{ 
    width: 16px;
}